body{
    text-align: center;
    font-size: 6em;
}

.count{
    color: #888;
    margin: 0;
    font-weight: bold;
}
.wrap{
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
}
.typed{
    color: lightgreen;
}
.misstyped{
    background-color: red;
}
#typecounter{
    background-color: gray;
    color: #fff;
    margin:  0 auto;
    width: 50%;
    height: 200px;
    font-size: 40px;
    border-radius: 480px;
    display: none;
}
#typecount{
    font-weight: bold;
}